
@{
    ViewBag.Title = "Authentication";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/assets/css/s1.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <!-- Форма регистрации -->
            <form class="register-form" action="/Login/Authentication" method="post">
                @Html.AntiForgeryToken()
                <input type="text" name="name" placeholder="Name" required />
                <input type="email" name="email" placeholder="Email Address" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Create</button>
                <p class="message">Already registered? <a href="#" id="switch-to-login">Sign In</a></p>
            </form>

            <!-- Форма входа -->
            <form class="login-form" action="/Login/Authentication" method="post">
                @Html.AntiForgeryToken()

                <input type="email" name="email" placeholder="Email Address" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Login</button>
                <p class="message">Not registered? <a href="#" id="switch-to-register">Create an account</a></p>
            </form>
        </div>
    </div>


    <!-- Подключаем jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JavaScript для переключения между формами -->
    <script>
        $(document).ready(function () {
            // Переключение на форму входа
            $('#switch-to-login').click(function (event) {
                event.preventDefault();
                $('.register-form').hide();
                $('.login-form').show();
            });

            // Переключение на форму регистрации
            $('#switch-to-register').click(function (event) {
                event.preventDefault();
                $('.login-form').hide();
                $('.register-form').show();
            });

            // Инициализация скрытия формы регистрации
            $('.register-form').hide();
        });
    </script>
</body>
</html>
